.info-panel {
  border-left: 1px solid var(--border-color);
  height: calc(100vh - var(--header-height));;
  position: fixed;
  top:  var(--header-height);
  right: -640px;
  width: 640px;
  padding: 15px;
  transition: right .3s ease;
  overflow-x: hidden;
  z-index: 1;
}

.info-panel div {
  margin-top: 60px;
}

.info-panel.open {
  right: 0;
}

.panel-close {
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 5;
  right: 15px;
  font-size: 1.5rem;
  margin-left: 50px;
  width: 36px;
  height: 36px;
  background: transparent;
  cursor: pointer;
  color: #667;
  transition: bakground .2s ease,
    color .2s ease,
    transform .2s ease;
}

.panel-close:hover {
  background: #f2f2f2;
  color: #000;
  transform: scale(.9);
}

.panel-close:active {
  transform: scale(.9);
}